NEXT_PUBLIC_API_URL=http://127.0.0.1:5000/api
NEXT_PUBLIC_SOCKET_URL=http://127.0.0.1:5000
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:5000
NEXT_PUBLIC_FRONTEND_URL=http://127.0.0.1:4017
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_AUTH0_DOMAIN=dev-1a67u9mz.us.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=MRrsVJYMkQ7hK5LCVGTvfyR1ereHvoQZ

APP_BASE_URL=http://127.0.0.1:4017
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER_NAME=nub-system
