NEXT_PUBLIC_API_URL=http://127.0.0.1:5000/api
NEXT_PUBLIC_SOCKET_URL=http://127.0.0.1:5000
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:5000
NEXT_PUBLIC_FRONTEND_URL=http://127.0.0.1:4017
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

AUTH0_DOMAIN=dev-1a67u9mz.us.auth0.com
AUTH0_CLIENT_ID=MRrsVJYMkQ7hK5LCVGTvfyR1ereHvoQZ
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=GENERAR_CON_OPENSSL_RAND_HEX_32
APP_BASE_URL=http://127.0.0.1:4017
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER_NAME=nub-system
